body {background-color:powderblue;}
.hp {
    style="
      border:2px solid dodgerblue;
	  padding:2px;
	  margin:2px;
	  background-color:lightskyblue;
	  color:navy;
	  font-family:verdana;
	  font-size:150%;
	  text-align:center;
    "
}
pre {
    style="
      border:2px solid dodgerblue;
	  background-color:lightskyblue;
	  color:navy;
	  font-family:verdana;
	  text-align:center;
    "
}
p a{color : #ff0000;}
p a:hover {color: #00ff00;}